grpcio==1.62.2
opentelemetry-api==1.24.0
opentelemetry-exporter-zipkin==1.24.0
opentelemetry-exporter-zipkin-json==1.24.0
opentelemetry-exporter-zipkin-proto-http==1.24.0
opentelemetry-instrumentation==0.45b0
opentelemetry-instrumentation-grpc==0.45b0
opentelemetry-sdk==1.24.0
opentelemetry-semantic-conventions==0.45b0